<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100015163931-n33nekgtcrv033ja5lpitmr6644ohsvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100015163931-n33nekgtcrv033ja5lpitmr6644ohsvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDHmnhw9eyntfMj5tkZS5BAtYiKgH6RdVI</string>
	<key>GCM_SENDER_ID</key>
	<string>100015163931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codefactory.professorfc.app</string>
	<key>PROJECT_ID</key>
	<string>professorfc-e8eed</string>
	<key>STORAGE_BUCKET</key>
	<string>professorfc-e8eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100015163931:ios:28d31e24913643a9a0c6be</string>
</dict>
</plist>